<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ExcelToPPNED.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>	
    <userSettings>
        <ExcelToPPNED.Properties.Settings>
            <setting name="UNN" serializeAs="String">
                <value>200166687</value>
            </setting>
            <setting name="Famalija" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Imja" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Otchestvo" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Date_Start" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Date_End" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="ID_Passport" serializeAs="String">
                <value>37</value>
            </setting>
        </ExcelToPPNED.Properties.Settings>
    </userSettings>
</configuration>
